<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jesse Pinkman me, Bitch!</title>
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
      body {
        background-color: #fff;
      }
      #jesse-pinkman {
        margin-top: 55px;
        height: 399px;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

    <script>

      // get HTML for a jesse image tag given text
      image_tag_bitch = function(text) {
        url = '/bitch.jpg?text=' + escape(text);
        return '<img id="image" style="display:none;" src=' + url + '>'
      }

      // update/create jesse image
      update_jesse_bitch = function(text) {
        image_tag = image_tag_bitch(text);
        $("#image").replaceWith(image_tag);
        $("#image").fadeIn(1000);
      }
     
      $(document).ready(function () {
        // display the default image

        image_tag = image_tag_bitch('Type something');
        $("#jesse-image-box").append(image_tag);
        $("#image").fadeIn(1000);

        // assign handlers once the document is ready
        $('#update-image-button').click(function () {
          text = $('#image-text').val();
          update_jesse_bitch(text); 
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      
      <div class="row">
        <div id="jesse-pinkman" class="span4 offset4">
          <div id="jesse-image-box">
            <!-- where the image will appear -->
          </div>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="span4 offset4">
          <div id="pinkmanform">
              <input id="image-text" type="text" placeholder="Type something..."></input>
              <button id="update-image-button" class="btn">Generate</button>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
